*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}

.todo-app
{
    width:100%;
    max-width: 400px;
    background: white;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 15px;
}
.todo-app h2
{
    color:#002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    justify-content: center;

}
.todo-app h2 img
{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
    background: #edeef0;
}
input
{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding:10px;
}
button
{
    border:none;
    outline:none;
    padding:15px 40px;
    background:#ff5945;
    color:white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}

ul li
{
    color: black;
    list-style: none;
    font-size: 19px;
    padding:12px 10px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before
{
    content:"";
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-image: url("images/circle2.png");
    background-size: cover;
    background-position: center;
    left:7px;
    top:12px
}
ul li.checked
{
    color:#555;
    /* text-decoration: line-through; */
}

ul li.checked::before
{
    background-image: url("images/completed.png");
}

ul li span
{
    color: #ff0000;
    position: absolute;
    right:0;
    width: 40px;
    height: 40px;
    top:5px;
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover
{
    background: rgb(173, 171, 171);
}

.tasks
{
    display: flex;
    align-items: center;
}
.tasks h3
{
    margin:0 10px 20px;
}
.tasks h3.hcompleted
{
    margin-left: 12%;
    padding:10px;
    background : rgb(96, 222, 96);
    font-size: 20px;   
}
.tasks h3.hremaining
{
    font-size: 20px;
    background:orange;
    padding:5px 10px 10px;
}

#removedlist ul li::before
{
    background-image: url("images/notcompleted.png");
}

#removedlist ul li span
{
    color:white;
    background-color: white;
    cursor:default;
}

#removedlist ul li
{
    cursor:default;
}